#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root > header {
  flex: 0 1 auto;
}

#root > main {
  flex: 1;
}

#root > footer {
  flex: 0 1 auto;
}

/* NoUIslider */

.noUi-handle {
  border-radius: 30px;
  outline: none;
}

.noUi-touch-area {
  background: var(--darkGrey);
  border-radius: 16px;
  outline: none;
}

.noUi-connect {
  background: var(--brightOrange);
}

.noUi-tooltip {
  display: none;
}

.noUi-active .noUi-tooltip {
  display: block;
}