:root {
  --brightOrange: #FFB43E;
  --orange: #EC9E36;
  --darkOrange: #FF7428;
  --darkGrey: #333;
  --grey: #E8E8E8;
  --lightGrey: #F6F6F6;
  --white: #FFF;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: var(--lightGrey);
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root > header {
  flex: 0 1 auto;
}

#root > main {
  flex: 1;
}

#root > footer {
  flex: 0 1 auto;
}

*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
}

/* NoUIslider */

.noUi-handle {
  border-radius: 30px;
  outline: none;
}

.noUi-touch-area {
  background: var(--darkGrey);
  border-radius: 16px;
  outline: none;
}

.noUi-connect {
  background: var(--brightOrange);
}

.noUi-tooltip {
  display: none;
}

.noUi-active .noUi-tooltip {
  display: block;
}